<template name="home">

	<div class="home">
		<span id="home" class="symbol-target"></span>

		<div class="container">
			<div class="header">
				<h1 class="section-title">{{ getDict.homeTitle }}</h1>
				<p class="section-subtitle">{{ getDict.homeSubtitle }}</p>
			</div>
			<br><br>
			<div class="row">
				 <div class="col-sm-12">
				 	<img class="home-image" src="{{ getDict.homeImage.link }}">
				 </div>
			</div>

			<br><br>
		</div>

	</div>

<style type="text/css">
	.home {
		background-color: {{ dict 'homeBackgroundColor' }};
	}
	.home .section-title {
		color: {{ dict 'homeTitleColor' 'black' }};
	}
	.home .section-subtitle {
		color: {{ dict 'homeSubtitleColor' '#EA8825' }};
	}
	.home .section-subtitle:after {
		background: {{ dict 'homeSubtitleColor' '#EA8825' }};
	}
</style>
</template>