.home {
	text-align: center;

	.home-image {
		border: white 10px solid;
	}

	.section-subtitle {
		margin-bottom: -20px;
	}

	.section-subtitle:after {
		display: block;
		content: "";
		width: 100px;
		height: 0px;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-left: 0;
	}

	.carousel {
		text-align: center;

		.item {
			height: 400px;

			img {
				max-height: 400px;
				margin: 0 auto 0 auto;
			}
		}
	}
}
