@import "/client/stylesheets/variables.import.less";

@media (min-width: @screen-md-min) {
	.section-title {
		margin-top: 100px !important;
	}
}

@media (max-width: @screen-sm-max) {
	.section-title {
		margin-top: 120px !important;
	}
}

@media (max-width: @screen-xs-max) {
	.section-title {
		margin-top: 10px !important;
	}
}

.home {
	text-align: center;

	.home-image {
		border: white 10px solid;
	}

	.subtitle {
		margin-top: 15px;
		margin-bottom: -20px;

		p {
			margin-bottom: 5px;
		}
	}

	.carousel {
		text-align: center;

		.carousel-control.left,
		.carousel-control.right {
			background-image: none;
		}

		.item {

			img {
				width: 100%;
				margin: 0 auto 0 auto;
			}
		}
	}

	.social-box {
		.social {
			text-align: right;
			margin-top: 2px;

			@media (max-width: @screen-xs-max) {
				text-align: center;
			}

			div {
				display: inline-block;
				background-color: rgb(102, 102, 102);
				width: 25px;
				height: 25px;
				margin-left: 5px;
				text-align: center;
				border-radius: 4px;
				font-size: 16px;
				line-height: 24px;

				a {
					color: white;
				}
			}
		} 
	}
}
