<template name="about">

	<div class="about">
		<span id="about-us" class="symbol-target"></span>
		<div class="container">

			{{ > aboutFragment }}

			<div class="header">
				<h1 class="section-title">{{ dict 'aboutTitle' }}</h1>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="subtitle">
{{# markdown }}
{{ dict 'aboutSubtitle' }}
{{/ markdown }}
						</div>
					</div>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-sm-6">
					<img class="main-image" src="{{ dict 'aboutImageMain.link' 'http://lorempixel.com/300/300' }}">
					<br><br>
				</div>
				<div class="col-sm-6">
					<div class="text">
						{{{ dict 'aboutText.content' 'mkkmk' }}}
					</div>
					<br><br>
					<div class="clearfix secondary-images">
						<img data-index="1" src="{{ dict 'aboutImage1.link' 'http://lorempixel.com/300/300' }}">
						<img data-index="2" src="{{ dict 'aboutImage2.link' 'http://lorempixel.com/300/300' }}">
						<img data-index="3" src="{{ dict 'aboutImage3.link' 'http://lorempixel.com/300/300' }}">
						<img data-index="4" src="{{ dict 'aboutImage4.link' 'http://lorempixel.com/300/300' }}">
					</div>
				</div>
			</div>
		</div>

		<br><br>
	</div>
<style type="text/css">
	.about {
		background-color: {{ dict 'aboutBackgroundColor' }};
	}
	.about .section-title {
		color: {{ dict 'aboutTitleColor' 'black' }};
	}
	.about .subtitle {
		color: {{ dict 'aboutSubtitleColor' '#EA8825' }};
	}
	.about .subtitle:after {
		display: block;
		content: "";
		width: 100px;
		height: 1px;
		position: relative;
		left: 50%;
		bottom: -10px;
		margin-left: -50px;
		background: {{ dict 'aboutSubtitleColor' '#EA8825' }};
	}
	.about .text {
		color: {{ dict 'aboutTextColor'  }};;
	}
</style>
</template>