<template name="gallery">

	<div class="gallery">
		<div class="container clearfix">
			<span id="gallery" class="symbol-target"></span>

			{{ > galleryFragment }}

			<div class="header">
				<h1 class="section-title">{{ dict 'galleryTitle' 'Gallery' }}</h1>
<div class="subtitle">
{{# markdown }}
{{ dict 'gallerySubtitle' }}
{{/ markdown }}
</div>
			</div>

			<br><br>

			<div class="items">
				{{#each images}}
					<div class="item">
						<div class="image" style="background-image: url({{ image.link }})">
							<div class="hover">
								<p class="title">{{ title }}</p>
								<p class="subtitle">{{ subtitle }}</p>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
		<br><br>
	</div>

<style type="text/css">
	.gallery {
		background-color: {{ dict 'galleryBackgroundColor' }};
	}
	.gallery .section-title {
		color: {{ dict 'galleryTitleColor' 'black' }};
	}
	.gallery .subtitle {
		color: {{ dict 'gallerySubtitleColor' '#EA8825' }};
	}
	.gallery .subtitle:after {
		background: {{ dict 'gallerySubtitleColor' '#EA8825' }};
	}
</style>
</template>