@import "/client/stylesheets/variables.import.less";

.gallery {

	.items .item {
		float: left;
		cursor: pointer;
		width: 25%;

		.image {
			background-size: cover;
			background-position: center;

			.hover {
				@media (max-width: @screen-md-max) {
					height: 30%;
				}
				@media (max-width: @screen-sm-max) {
					height: 180px;
				}
				@media (max-width: @screen-xs-max) {
					height: 100px;
				}
				height: 250px;
				color: white;
				background-color: rgb(0, 0, 0);
				text-align: center;
				padding-top: 35%;
				opacity: 0;
				-webkit-transition: opacity 0.2s ease-in-out;
			    -moz-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;

				&:hover {
					opacity: 1;
				}

				.title {
					font-size: 26px;
				}

				.subtitle {
					font-size: 16px;
					margin-top: 10px;
				}
			}
		}
		
	}

	
}