<template name="blog">

	<div class="blog">
		<span id="blog" class="symbol-target"></span>

		<div class="container">
			<div class="header">
				<h1 class="section-title">{{ dict 'blogTitle' }}</h1>
						<div class="subtitle">
{{# markdown }}
{{ dict 'blogSubtitle' }}
{{/ markdown }}
						</div>
			</div>

			<br><br>

			<div class="items">
				{{#each posts}}
					{{> postsRow }}
				{{/each}}
			</div>

			<br><br>

			<div class="text-center">
				<p>
					<a href="{{ pathFor 'posts' }}" class="btn btn-primary">{{ dict 'blogViewAllText' 'View All' }}</a>
				</p>
			</div>

			<br><br>
		</div>
	</div>
<style type="text/css">
	.blog {
		background-color: {{ dict 'blogBackgroundColor' }};
	}
	.blog .section-title {
		color: {{ dict 'blogTitleColor' 'black' }};
	}
	.blog .subtitle {
		color: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog .subtitle:after {
		display: block;
		content: "";
		width: 100px;
		height: 1px;
		position: relative;
		left: 50%;
		bottom: -10px;
		margin-left: -50px;
		background: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog a.read-more {
		color: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog .item .timeago {
		color: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog .text {
		color: {{ dict 'blogTextColor'  }};;
	}
</style>
</template>

<template name="postsRow">
	<div class="row">
		{{#each row }}
			{{> postsItem}}
		{{/each}}
	</div>
</template>

<template name="postsItem">
	<div class="col-sm-4 item">
		<h3>{{ title }}</h3>
		<p class="timeago">{{ livestamp createdAt }}</p>
		<a href="{{ pathFor 'post' }}">
			<img src="{{ image.link }}">
		</a>
		<div class="preview">{{ preview }}... <a class="read-more" href="{{ pathFor 'post' }}">READ MORE</a></div>
	</div>
</template>