<template name="blog">

	<div class="blog">
		<span id="news" class="symbol-target"></span>

		<div class="container">
			<div class="header">
				<h1 class="section-title">{{ dict 'blogTitle' }}</h1>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="subtitle">
							{{{ dict 'blogSubtitleD.content' }}}
						</div>
					</div>
				</div>
			</div>

			<br><br>

			<div class="items">
				<div class="row">
					<div class="col-sm-8">
						{{#each posts}}
							{{> postsRow }}
						{{/each}}
					</div>
					<div class="col-sm-4">
						{{> postsSidebar }}
					</div>
				</div>
			</div>

			<br><br>
		</div>
	</div>
<style type="text/css">
	.blog {
		background-color: {{ dict 'blogBackgroundColor' }};
	}
	.blog .section-title {
		color: {{ dict 'blogTitleColor' 'black' }};
	}
	.blog .subtitle {
		color: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog .subtitle:after {
		display: block;
		content: "";
		width: 100px;
		height: 1px;
		position: relative;
		left: 50%;
		bottom: -10px;
		margin-left: -50px;
		background: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog a.read-more {
		color: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog .item .timeago {
		color: {{ dict 'blogSubtitleColor' '#EA8825' }};
	}
	.blog .text {
		color: {{ dict 'blogTextColor'  }};;
	}
</style>
</template>

<template name="postsRow">
	<div class="row">
		{{#each row }}
			{{> postsItem}}
		{{/each}}
	</div>
</template>

<template name="postsItem">
	<div class="col-sm-6 item">
		<div class="row">
			<div class="col-sm-11">
				<h3>{{ title }}</h3>
				<p class="timeago">{{ getDate createdAt }}</p>
				<a href="{{ pathFor 'post' }}">
					<img src="{{ image.link }}">
				</a>
				<div class="preview">{{ preview }}... <a class="read-more" href="{{ pathFor 'post' }}">read more</a></div>
			</div>
		</div>
	</div>
</template>