<template name="pricing">

	<div class="pricing">
		<span id="pricing" class="symbol-target"></span>

		<div class="container">
			<div class="header">
				<h1 class="section-title">{{ dict 'pricingTitle' }}</h1>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="subtitle">
							{{{ dict 'pricingSubtitleD.content' }}}
						</div>
					</div>
				</div>
			</div>

			<br><br>

			<div class="row items">
				<div class="col-sm-4 ">
					<img src="{{ dict 'pricingItem1Image.link' 'http://guillermo-sitios.s3.amazonaws.com/orionjs/NG8neTXufFvzcngSg.png' }}">
					<br><br>
					<p>{{{ dict 'pricingItem1Text.content' }}}</p>
					<br><br>
				</div>
				<div class="col-sm-4">
					<img src="{{ dict 'pricingItem2Image.link' 'http://guillermo-sitios.s3.amazonaws.com/orionjs/ed3QtZdBAZbmRkgX7.png' }}">
					<br><br>
					<p>{{{ dict 'pricingItem2Text.content' }}}</p>
					<br><br>
				</div>
				<div class="col-sm-4">
					<img src="{{ dict 'pricingItem3Image.link' 'http://guillermo-sitios.s3.amazonaws.com/orionjs/9HaYxnoyec4ArB385.png' }}">
					<br><br>
					<p>{{{ dict 'pricingItem3Text.content' }}}</p>
					<br><br>
				</div>
			</div>

			<br><br>
		</div>
	</div>
<style type="text/css">
	.pricing, body {
		background-color: {{ dict 'pricingBackgroundColor' }};
	}
	.pricing .section-title {
		color: {{ dict 'pricingTitleColor' 'black' }};
	}
	.pricing .subtitle {
		color: {{ dict 'pricingSubtitleColor' '#EA8825' }};
	}
	.pricing .subtitle:after {
		background: {{ dict 'pricingSubtitleColor' '#EA8825' }};
	}
	.pricing .text {
		color: {{ dict 'pricingTextColor'  }};;
	}
</style>
</template>
