<template name="pricing">

	<div class="pricing background-alternative">
		<span id="pricing" class="symbol-target"></span>

		<div class="container">
			<div class="header">
				<h1 class="section-title">{{ dict 'pricingTitle' }}</h1>
				<p class="section-subtitle">{{ dict 'pricingSubtitle' }}</p>
			</div>

			<br><br>

			<div class="row items">
				<div class="col-sm-4 ">
					<img src="{{ dict 'pricingItem1Image.link' 'http://lorempixel.com/300/300' }}">
					<br><br>
					<p>{{{ dict 'pricingItem1Text' }}}</p>
					<br><br>
				</div>
				<div class="col-sm-4">
					<img src="{{ dict 'pricingItem2Image.link' 'http://lorempixel.com/300/300' }}">
					<br><br>
					<p>{{{ dict 'pricingItem2Text' }}}</p>
					<br><br>
				</div>
				<div class="col-sm-4">
					<img src="{{ dict 'pricingItem2Image.link' 'http://lorempixel.com/300/300' }}">
					<br><br>
					<p>{{{ dict 'pricingItem2Text' }}}</p>
					<br><br>
				</div>
			</div>

			<br><br>
		</div>
	</div>

</template>