<template name="header">
	<div class="site-header">
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<a href="{{ pathFor 'home' }}"><img class="logo" src="{{ dict 'siteLogo.link' }}"></a>
					<div class="help">
						<p>{{ dict 'headerHelpText' }}</p>
					</div>
					<div class="navbar-list">
						<ul class="nav nav-tabs" role="tablist">
							<li class="{{ isActiveRoute regex='services' }}">
								<a href="{{ pathFor 'services' }}">{{ dict 'headerServicesTitle' }}</a>
							</li>
							<li class="{{ isActiveRoute regex='about' }}">
								<a href="{{ pathFor 'about' }}">{{ dict 'headerAboutUsTitle' }}</a>
							</li>
							<li class="{{ isActiveRoute regex='gallery' }}">
								<a href="{{ pathFor 'gallery' }}">{{ dict 'headerGalleryTitle' }}</a>
							</li>
							<li class="{{ isActiveRoute regex='testimonials' }}">
								<a href="{{ pathFor 'testimonials' }}">{{ dict 'headerTestimonialsTitle' }}</a>
							</li>
							<li class="{{ isActiveRoute regex='pricing' }}">
								<a href="{{ pathFor 'pricing' }}">{{ dict 'headerPricingTitle' }}</a>
							</li>
							{{# with dict 'inspireVisible' }}
							<li class="{{ isActiveRoute regex='inspireme' }}">
								<a href="{{ pathFor 'inspireme' }}">{{ dict 'headerInspireTitle' }}</a>
							</li>
							{{/ with }}
							<li class="{{ isActiveRoute regex='blog' }}">
								<a href="{{ pathFor 'blog.index' }}">{{ dict 'headerBlogTitle' }}</a>
							</li>
							<li class="{{ isActiveRoute regex='contact' }}">
								<a href="{{ pathFor 'contact' }}">{{ dict 'headerContactTitle' }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

<style>
.site-header  {
	background: {{ dict 'headerBackgroundColor' }};
	color: {{ dict 'headerTextColor' }};

}
.site-header .help {
	color: {{ dict 'headerAlternativeColor' }};
}

.site-header .nav-tabs > li > a {
	color: {{ dict 'headerTextColor' }};
}

.site-header .nav-tabs > li.active > a,
.site-header .nav-tabs > li.active > a:hover,
.site-header .nav-tabs > li.active > a:focus {
	background-color: transparent;
	color: {{ dict 'headerTextColor' }};
	border-bottom: 4px solid {{ dict 'headerAlternativeColor' }};
}
</style>
</template>
