<template name="header">
	<div class="site-header">
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<img class="logo" src="{{ dict 'siteLogo.link' }}">
					<div class="help">
						<p>{{ dict 'headerHelpText' }}</p>
					</div>
					<div class="navbar-list">
						<ul class="nav nav-tabs" role="tablist">
							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#about-us">About Us</a></li>
							<li><a href="#gallery">Gallery</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#inspire">Inspire Me</a></li>
							<li><a href="#blog">Blog</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

<style>
.site-header  {
	background: {{ dict 'headerBackgroundColor' }};
	color: {{ dict 'headerTextColor' }};

}
.site-header .help {
	color: {{ dict 'headerAlternativeColor' }};
}

.site-header .nav-tabs > li > a {
	color: {{ dict 'headerTextColor' }};
}

.site-header .nav-tabs > li.active > a,
.site-header .nav-tabs > li.active > a:hover,
.site-header .nav-tabs > li.active > a:focus {
	background-color: transparent;
	color: {{ dict 'headerTextColor' }};
	border-bottom: 4px solid {{ dict 'headerAlternativeColor' }};
}
</style>
</template>