<template name="header">
	<div class="site-header">
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<a href="{{ pathFor 'site' }}"><img class="logo" src="{{ dict 'siteLogo.link' }}"></a>
					<div class="help">
						<p>{{ dict 'headerHelpText' }}</p>
					</div>
					<div class="navbar-list">
						<ul class="nav nav-tabs" role="tablist">
							{{# if onpost }}
								<li><a href="{{ pathFor 'site' }}#home">{{ dict 'headerHomeTitle' }}</a></li>
								<li><a href="{{ pathFor 'site' }}#services">{{ dict 'headerServicesTitle' }}</a></li>
								<li><a href="{{ pathFor 'site' }}#about-us">{{ dict 'headerAboutUsTitle' }}</a></li>
								<li><a href="{{ pathFor 'site' }}#gallery">{{ dict 'headerGalleryTitle' }}</a></li>
								<li><a href="{{ pathFor 'site' }}#pricing">{{ dict 'headerPricingTitle' }}</a></li>
								<li><a href="{{ pathFor 'site' }}#inspire">{{ dict 'headerInspireTitle' }}</a></li>
								<li class="active"><a href="{{ pathFor 'posts' }}">{{ dict 'headerBlogTitle' }}</a></li>
								<li><a href="{{ pathFor 'site' }}#contact">{{ dict 'headerContactTitle' }}</a></li>
							{{ else }}
								<li class="active"><a href="#home">{{ dict 'headerHomeTitle' }}</a></li>
								<li><a href="#services">{{ dict 'headerServicesTitle' }}</a></li>
								<li><a href="#about-us">{{ dict 'headerAboutUsTitle' }}</a></li>
								<li><a href="#gallery">{{ dict 'headerGalleryTitle' }}</a></li>
								<li><a href="#pricing">{{ dict 'headerPricingTitle' }}</a></li>
								<li><a href="#inspire">{{ dict 'headerInspireTitle' }}</a></li>
								<li><a href="#blog">{{ dict 'headerBlogTitle' }}</a></li>
								<li><a href="#contact">{{ dict 'headerContactTitle' }}</a></li>
							{{/if }}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

<style>
.site-header  {
	background: {{ dict 'headerBackgroundColor' }};
	color: {{ dict 'headerTextColor' }};

}
.site-header .help {
	color: {{ dict 'headerAlternativeColor' }};
}

.site-header .nav-tabs > li > a {
	color: {{ dict 'headerTextColor' }};
}

.site-header .nav-tabs > li.active > a,
.site-header .nav-tabs > li.active > a:hover,
.site-header .nav-tabs > li.active > a:focus {
	background-color: transparent;
	color: {{ dict 'headerTextColor' }};
	border-bottom: 4px solid {{ dict 'headerAlternativeColor' }};
}
</style>
</template>