@import "/client/stylesheets/variables.import.less";

body {
	position: relative;
}

.symbol-target {
    padding-top: 100px;
    margin-top: -100px;
    width: 1px; /* '0' will not work for Opera */
    display: inline-block;
}

.site-header {
	position: fixed;
	background: #fff;
	width: 100%;
	z-index: 100;

	padding-top: 35px;
	color: @brand-primary;

	-webkit-box-shadow: 0px -2px 10px 0px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    0px -2px 10px 0px rgba(50, 50, 50, 0.58);
	box-shadow:         0px -2px 10px 0px rgba(50, 50, 50, 0.58);

	img.logo {
		position: absolute;
		width: 18%;

		@media (min-width: @screen-md-min) {
			top: -12px;
		}
	}

	.social-box {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 12px;

		@media (min-width: @screen-md-min) {
			top: -8px;
		}

		.help {
			text-align: right;
		}

		@media (max-width: @screen-xs-max) {
			position: inherit;
			right: 0;

			.help {
				text-align: center;
			}
		}

		.social {
			text-align: right;
			margin-top: 2px;

			@media (max-width: @screen-xs-max) {
				text-align: center;
			}

			div {
				display: inline-block;
				background-color: #555555;
				width: 25px;
				height: 25px;
				margin-left: 5px;
				text-align: center;
				border-radius: 4px;
				font-size: 16px;
				line-height: 24px;

				a {
					color: white;
				}
			}
		} 
	}

	.nav-tabs {
		margin-top: 20px;
		border-bottom: 0;
		font-size: 12px;
		text-align:center;

		> li {
			float:none;
			display:inline-block;
			*display:inline; /* ie7 fix */
			zoom:1; /* hasLayout ie7 trigger */
			text-transform: uppercase;
			margin-bottom: 0px;

			// Actual tabs (as links)
			> a {
				color: @gray;
				font-weight: bold;
				margin-right: 2px;
				line-height: 1.0;
				padding: 10px 4px 10px 4px;
				border: 0;
				&:hover {
					background-color: transparent;
					border-color: 0;
				}
			}

			// Active state, and its :hover to override normal :hover
			&.active > a {
				&,
				&:hover,
				&:focus {
					border: 0;
					cursor: default;
				}
			}
		}
	}

	@media (max-width: @screen-sm-max) {
		.nav-tabs {
			padding-top: 15px;
		}
	}

	@media (max-width: @screen-xs-max) {
		position: inherit;
		padding-top: 0;
		text-align: center;

		img.logo {
			margin-top: 10px;
			position: inherit;
			width: 180px;
			margin-bottom: 20px;
		}

		.social,
		.help {
			margin-top: 5px;
			margin-right: 10px;
		}

		.nav-tabs {
			padding-top: 0px;

			>li.active > a {
				&,
				&:hover,
				&:focus {
					border-bottom: 0;
				}
			}
		}
	}

}