<template name="mainLayout">

<div class="site">
	{{> header }}
	<div class="invisible-xs">
		<br>
	</div>
	{{> yield }}
	{{> subscribe }}
	{{> footer }}
</div>

<style type="text/css">
.section-title {
	font-size: {{ dict 'basicTitleFontSize' '45px' }};
	font-weight: {{ dict 'basicTitleFontWeight' '100' }};
}
</style>

</template>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed|Raleway:400,100' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<script defer
	src="//assets.pinterest.com/js/pinit.js"
	data-pin-build="parsePinBtns"></script>
</head>
