<template name="servicesFragment">
	<div class="servicesFragment {{# if service }}active{{/ if }}">
		{{# if service }}

			<span class="close-button">
				<i class="fa fa-close"></i>
			</span>
			<br><br>
			{{# markdown }}{{{ service.detailText }}}{{/ markdown }}
			<br><br>

			<div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					{{# each serviceImages }}
						<li data-target="#carousel-testimonials" data-slide-to="{{ index }}" class="{{# if isCero index }}active{{/ if }}"></li>
					{{/ each }}
				</ol>
				<div class="carousel-inner" role="listbox">
					{{# each serviceImages }}
						<div class="item {{# if isCero index }}active{{/ if }}">
							<img src="{{ link }}">
						</div>
					{{/ each }}
				</div>
			</div>

			<br><br><br>

		{{/ if }}
	</div>
</template>