<template name="services">

	<div class="services">
		<div class="container">
			<span id="services" class="symbol-target"></span>

			{{> servicesFragment }}

			<div class="header">
				<h1 class="section-title">{{ dict 'servicesTitle' }}</h1>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="subtitle">
							{{{ dict 'servicesSubtitleD.content' }}}
						</div>
					</div>
				</div>
			</div>

			<br><br><br>

			<div class="items">
				{{#each services}}
					{{> servicesRow }}
				{{/each}}
			</div>
		</div>
	</div>

<style type="text/css">
	.services {
		background-color: {{ dict 'servicesBackgroundColor' }};
	}
	.services .section-title {
		color: {{ dict 'servicesTitleColor' 'black' }};
	}
	.services .subtitle {
		color: {{ dict 'servicesSubtitleColor' '#EA8825' }};
	}
	.services .subtitle:after {
		display: block;
		content: "";
		width: 100px;
		height: 1px;
		position: relative;
		left: 50%;
		bottom: -10px;
		margin-left: -50px;
		background: {{ dict 'servicesSubtitleColor' '#EA8825' }};
	}
	.services .item {
		color: {{ dict 'servicesTextColor' }};
	}
</style>

</template>

<template name="servicesRow">
	<div class="row">
		{{#each row }}
			{{> servicesItem}}
		{{/each}}
	</div>
</template>

<template name="servicesItem">
	<div class="col-sm-4 item">
		<div class="service-circle">
			<img src="{{ image.link }}">
		</div>
		
		<p>{{{ text.content }}}</p>
	</div>
</template>