@import "/client/stylesheets/variables.import.less";

.inspire-me {
	.sidetext {
		margin-bottom: 10px;

		span {
			padding: 5px 10px;
			color: #fff;
			font-size: 28px;
			font-weight: 600;
		}
	}

	.categories {
		text-align: center;

		a {
			text-decoration: none;
		}

		p {
			text-align: left;
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 4px;
			border-bottom-width: 4px;
			border-bottom-style: solid;
		}
	}

	.show-now-btn {
		margin-top: 40px;
		text-align: center;
		a {
			border: 2px solid #555;
			padding: 5px 12px 5px 14px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 2px;
		}
	}

	.nav-buttons a {
		border-width: 1px;
		border-style: solid;
		padding: 5px 10px;
		font-size: 20px;
		text-decoration: none;
	  line-height: 45px;

		&.active {
			color: #fff;
		}
	}

	.product {
		text-align: center;

		a {
			text-decoration: none;
		}

		.title {
			text-align: left;
			border-top: 1px solid #777;
			padding-top: 5px;
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 15px;
		}

		.price {
			text-align: right;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 40px;
		}

		img {
			-webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;
		}

		.images {
			height: 210px;
			overflow-y: hidden;
		}

		.img-rollover {
			position: relative;
		  top: 0px;
			height: 210px;
			opacity: 0;
			z-index: 5;
		}

		.product-img {
			height: 210px;
			position: relative;
		  top: -210px;
			z-index: 4;
		}

		&:hover {
			.img-rollover {
				top: 0px;
				opacity: 1;
			}
			.product-img {
				top: -210px;
			}
		}

	}

	.categories-rollover {
		height: 284px;
		margin-bottom: 20px;

		//overflow-y: hidden;
		//
		img {
			-webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;
		}

		.img-rollover {
			position: relative;
		  top: 0px;
			height: 284px;
			opacity: 0;
			z-index: 5;
		}

		.category-img {
			height: 284px;
			width: 284px;
			position: relative;
		  top: -284px;
			z-index: 4;
		}

		&:hover {
			.img-rollover {
				top: 0px;
				opacity: 1;
			}
			.category-img {
				top: -284px;
			}
		}
	}

}
