<template name="inspire">

	<div class="inspire">
		<span id="inspire" class="symbol-target"></span>

		<div class="container">
			<div class="header">
				<h1 class="section-title">{{ dict 'inspireTitle' }}</h1>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="subtitle">
							{{{ dict 'inspireSubtitleD.content' }}}
						</div>
					</div>
				</div>
			</div>

			<br><br><br><br>

			<div class="text-center">
				<a href="{{ dict 'inspireLink' }}">
					<img src="{{ dict 'inspireImage.link' }}">
				</a>
			</div>
			<br><br><br>
		</div>
	</div>
<style type="text/css">
	.inspire {
		background-color: {{ dict 'inspireBackgroundColor' }};
	}
	.inspire .section-title {
		color: {{ dict 'inspireTitleColor' 'black' }};
	}
	.inspire .subtitle {
		color: {{ dict 'inspireSubtitleColor' '#EA8825' }};
	}
	.inspire .subtitle:after {
		display: block;
		content: "";
		width: 100px;
		height: 1px;
		position: relative;
		left: 50%;
		bottom: -10px;
		margin-left: -50px;
		background: {{ dict 'inspireSubtitleColor' '#EA8825' }};
	}
	.inspire .text {
		color: {{ dict 'inspireTextColor'  }};;
	}
</style>
</template>